<a href="/snippets/<%= snippet.id %>" class="snippet-blurb">
	<h3><%= snippet.title %></h3>
	<div class="blurb-desc">
		<%= snippet.description %>
	</div>
	<span class="cat"><%= snippet.category %></span>
</a>