* {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	width: 99%;
	min-width: 500px;
	padding-left: 2px;
	margin: auto;
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: black;
}

.black {
	padding: 0px;
	color: black;
	font-weight: normal;
}

.small {
	font-size: 55px;
	margin-left: 5px;
	line-height: 30px;
	color: lightgray;
	font-weight: 100;
}

header {
	height: 90px;
	border-bottom: 0.25px solid lightgray;
}

footer {
	text-align: center;
	margin: 150px auto 25px auto;
}

.create-button {
	padding: 5px;
	background-color: lightgray;
	border-radius: 5px;
	margin: 20px auto;
	margin-bottom: 40px;
	text-align: center;
	display: block;
	width: 200px;
	border: 0.25px solid white;
	color: white;
}

.create-button:hover {
	border: 0.25px solid lightgray;
	background-color: white;
	color: gray;
}

#main-title {
	font-size: 75px;
	margin-left: -12px;
	padding: 0px;
	float: left;
	line-height: 56px;
	font-weight: 100;
}

#main-nav {
	text-align: justify;
	min-width: 500px;
	margin-bottom: 60px;
}

#main-nav a {
	font-size: 16px;
	padding: 0px 5px 5px 5px;
	border-bottom: 0.25px solid white;
	border-right: 0.25px solid white;
	border-left: 0.25px solid white;
}

#main-nav a:hover {
	border-top: 0.25px solid white;
	border-bottom: 0.25px solid lightgray;
	border-right: 0.25px solid lightgray;
	border-left: 0.25px solid lightgray;
}

#main-nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#user-nav {
	float: right;
}

#snippet-blurb-all {
	margin: auto;
	text-align: center;
	padding: 0px;
}

.snippet-blurb {
	border: 0.25px solid white;
	border-radius: 3px;
	display: inline-block;
	padding: 10px;
	width: 200px;
	height: 200px;
	text-align: justify;
	margin: 30px 30px 0px 30px;
	background-color: lightgray;
}

.snippet-blurb:hover {
	border: 0.25px solid lightgray;
	background-color: white;
}

.blurb-desc {
	position: absolute;
	width: 200px;
	margin: 20px 0px;
}

.cat {
	margin-bottom: 10px;
	font-family: courier, monospace;
	color:black;
}

.quote {
	text-align: center;
	color: lightgray;
	margin-bottom: 50px;
}

#code-holder {
	margin: 25px auto;
	text-align: center;
}

#console {
	margin: 25px auto;
	width: 80%;
	min-height: 100px;
	padding: 25px;
	border: 0.5px solid gray;
	border-radius: 10px;
}

.code-box {
	font-family: courier, monospace;
	display: inline-block;
	width: 80%;
	height: 150px;
	overflow: scroll;
	padding: 20px;
	background-color: gray;
	color: white;
	border-radius: 5px;
	margin: 25px 15px;
}

#snippet-info {
	margin: auto;
	margin-bottom: 25px;
	text-align: center;
}

#snippet-form {
	width: 80%;
	display: none;
	margin: auto;
	text-align: center;
}

#snippet-form.input {
	display: block;
	text-align: center;
}

#snippet-form.input[type="submit"] {
	display: block;
	text-align: center;
}

.textarea {
	display: block;
	margin: 20px auto;
	width: 80%;
}

.textarea textarea {
	width: 40%;
	height: 150px;
	text-align: center;
}




